<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
        .title {
            margin-top: 20rem;
            margin-bottom: 15rem;
            text-align: center;
            font-family: 'Calligraffitti';
            font-size: 70px;
            color: rgb(38%, 68.1%, 99.5%);
        }

        .description {
            font-family: 'Basic';
            font-size: 30px;
        }

        .input-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <!--board title-->
        <div class="title">
            <span>
                <%= boards.title%>
            </span>
        </div>
        <!--board description-->
        <div class="description">
            <span>
                <%= boards.description%>
            </span>
        </div>
        <hr>
        <div class="input-container">
            <!--edit href-->
            <div class="btn-group">
                <a class="btn btn-default btn-info btn-lg" href="/api/post/delete/<%= boards._id %>">삭제하기</a>
                <a class="btn btn-default btn-info btn-lg" href='/api/post/updatePage/<%= boards._id %>'>수정하기</a>
            </div>
        </div>
    </div>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>