<!DOCTYPE html>
<html lang="en">

<head>
    <title>Update Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
        .container {
            width: 50%;
        }

        .header {
            margin-top: 10rem;
            margin-bottom: 10rem;
            text-align: center;
            font-family: 'Calligraffitti';
            font-size: 70px;
        }

        .orgin {
            font-family: 'Basic';
            font-size: 30px;
            margin-bottom: 2rem;
        }
    </style>

</head>

<body>
    <div class="header">
        <span>
            Update Post
        </span>
    </div>
    <div class="container">
        <div class="orgin">
            <span><%= title%></span></br>
            <span><%= description%></span>
        </div>
        <form action="/api/post/update/<%=id %>" method="GET" role="role" class="form-horizontal">
            <div class="form-group">
                <input type="text" class="form-control" id="inputEmail3" name='title' placeholder="title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name='description' placeholder="description"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-info">보내기</button>
            </div>
        </form>
    </div>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>